body{
    background-image: url(fon2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.leo{
display: flex; 
flex-direction: column;
align-items: center;

}
.cat{
    transform: rotate(-360deg);
    width: 80%;
    /* align-self: flex-end; */
}

.parent{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.hey{
    background-color: white;
    color:rgb(107, 184, 30);
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    font-family: 'Gothic A1', sans-serif;
}
.typing{
    font-size: 50px;
    font-family: 'Gothic A1', sans-serif;
    color:white ;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(223, 154, 6), 0 0 0.2em rgb(107, 184, 30);
}
.heyp{
    background-color: white;
    color:rgb(79, 136, 22);
    padding: 5x;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Gothic A1', sans-serif;
    text-shadow: 1px 1px 1px black;

}

.container{
    width: 80%;
    height: auto;
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.esli{
    background-color: rgb(107, 184, 30);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.esli2{
    background-color: rgb(255, 255, 255, 0.6);
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(107, 184, 30);
}
.input-number{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(107, 184, 30);
    font-size: 18px;
}
.btn{
    margin-top: 15px;
}
#mybtn{
margin-right: 0px;
/* align-self: flex-end; */
}
.play {
    width: 45px;
}
.stop {
    width: 45px;
}

@media all and (max-width: 800px) {
    .hey{
        font-size: 50px;
    }
    .typing{
        font-size: 40px;
    }
}

@media all and (max-width:500px) {
    .hey{
        font-size: 30px;
    }
    .typing{
        font-size: 25px;
    }
    .esli{
        font-size: 18px;
    }
    .esli2{
        font-size: 16px;
    }
    .parent{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .leo{
        align-self: flex-start;
        padding-top: 30px;
    }
    .cat{
        width: 95%;
        margin-top: 10px;
    }
    .container{
        width: 95%;
    }
}
